<h3>First Variant</h3>
<div class="ng-style">
  <button (click)="isBlueParagraph = !isBlueParagraph">Change Paragraph</button>
  <p class="blue-paragraph" *ngIf="isBlueParagraph">Blue Paragraph</p>
  <p class="red-paragraph" *ngIf="!isBlueParagraph">Red Paragraph</p>
</div>

<hr />
<h3>Second Variant</h3>
<div class="ng-style">
  <button (click)="isBlueParagraph = !isBlueParagraph">Change Paragraph</button>
  <p class="blue-paragraph" *ngIf="isBlueParagraph; else redParagraph">
    Blue Paragraph
  </p>
  <ng-template #redParagraph>
    <p class="red-paragraph">Red Paragraph</p>
  </ng-template>
</div>
